[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/tinyexpr"]
	path = 3rdparty/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/civetweb"]
	path = 3rdparty/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "3rdparty/sqlite"]
	path = 3rdparty/sqlite
	url = https://github.com/sqlite/sqlite.git
